{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    {% if paginator.items %}
        {% for entry in paginator.items %}
            <article id="post-{{ entry.id }}">
                <a href="{{ request.route_url('post', id=entry.id, slug=entry.slug) }}">
                    {{ entry.title }}
                </a>
            </article>
        {% endfor %}
        {{ paginator.pager() | safe }}
    {% else %}
        <p>No blog entries found.</p>
    {% endif %}
</div>
{% endblock content %}
